/* GLOBAL */
@import "./global/variables";
@import "./global/mixins";
@import "./global/global";
@import "./global/fonts";
@import "./global/common";
@import "./global/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/main-header.scss";
@import "./blocks/button.scss";
@import "./blocks/disabled.scss";
@import "./blocks/container.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/page-main.scss";
@import "./blocks/promo.scss";
@import "./blocks/program.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/result.scss";
@import "./blocks/demo-progress.scss";
@import "./blocks/cooperation.scss";
@import "./blocks/map.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product.scss";
@import "./blocks/show-more.scss";
@import "./blocks/additional-catalog.scss";
@import "./blocks/offer.scss";
@import "./blocks/additional-card.scss";
@import "./blocks/present.scss";
@import "./blocks/lead.scss";
@import "./blocks/form-feedback.scss";
@import "./blocks/form-feedback-item.scss";
@import "./blocks/data-cat.scss";
@import "./blocks/form-feedback-list.scss";
@import "./blocks/heading.scss";
@import "./blocks/contacts-owner.scss";
@import "./blocks/program-feed.scss";
@import "./blocks/comment.scss";
@import "./blocks/additionally-checkbox.scss";
@import "./blocks/footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/developer.scss";
