.additional-card__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 26px 38px 27px 38px;
    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:last-of-type {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0 16px 0;
    border-left: none;
    border-right: none;

    &:last-of-type {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 16px;
    }
  }
}

.additional-card__heading {
  grid-column: 1/1;
  color: #222222;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: center;
  }
}

.additional-card__wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    justify-content: end;
    gap: 51px;
    margin: 0;
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    margin: 0;
    margin-right: 41px;
    min-width: 284px;
    justify-content: space-between;
    align-items: center;
    justify-self: end;
  }
}

.additional-card__description {
  font-family: $secondary-font;
  color: $primary-font-color;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-card__button {
  @include button;
  font-family: $primary-font;
  grid-column: 3/1;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
    min-width: 244px;
  }
}
