.additionally-checkbox__legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.additionally-checkbox__list {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 554px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 31px 123px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1184px;
    flex-direction: row;
    gap: 19px 0;
    margin-bottom: 60px;
  }
}

.additionally-checkbox__item {
  gap: 14px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
