.advantages {
  @media (min-width: $tablet-width) {
    padding-bottom: 33px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    border-bottom: 0;
  }
}

.advantages__wrapper {
  margin-bottom: 53px;
}

.advantages__list {
  display: grid;
  gap: 26px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 87px 59px;
    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 76px;
    margin-bottom: 111px;
  }
}

.advantages__title {
  color: $secondary-font-color;
  text-align: left;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 42px;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 39px;
  }
}

.advantages__item {
  position: relative;

  &.advantages__item--leaf::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 60px;
    height: 60px;
    background: url("../../images/leaf.svg") no-repeat center;
    background-color: $inverted-background-color;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      background-size: 25px;
    }
  }

  &.advantages__item--powder::before {
    content: "";
    top: -2px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../images/powder.svg") no-repeat center;
    background-color: $inverted-background-color;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      background-size: 25px;
    }
  }

  &.advantages__item--dining::before {
    content: "";
    top: -2px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../images/dining.svg") no-repeat center;
    background-color: $inverted-background-color;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      background-size: 25px;
    }
  }

  &.advantages__item--clock::before {
    content: "";
    top: -2px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("../../images/clock.svg") no-repeat center;
    background-color: $inverted-background-color;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 80px;
      height: 80px;
    }

    @media (min-width: $desktop-width) {
      background-size: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 230px;
  }
}

.advantages__description {
  color: $primary-font-color;
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-left: 80px;
  word-break: break-word;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
    max-width: 271px;
    padding-top: 143px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      left: 116px;
      top: -10px;
      font-size: 280px;
      line-height: 1;
      font-family: $primary-font;
      color: #f2f2f2;
      z-index: -1;
    }
  }
}
