.catalog__wrapper {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.catalog__title {
  color: $secondary-font-color;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-bottom: 84px;
  }
}
