.comment {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
}

.comment__legend {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.comment__textarea-wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 628px;
    margin: 0;
  }
}

.comment__textarea {
  @include form-input;
  font-family: $primary-font;
  min-width: 280px;
  min-height: 150px;
  padding: 14px 14px 14px 15px;
  border: 1px solid #e7e7e7;
  margin-bottom: 19px;
  resize: none;

  @media (min-width: $tablet-width) {
    min-width: 628px;
    min-height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px 11px 20px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding: 9px 20px 11px 20px;
    margin-bottom: 66px;
  }
}
