.contacts-owner {
  padding: 0;
  border: 0;

  @media (min-width: $tablet-width) {
    max-width: 628px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.contacts-owner__legend {
  margin-bottom: 35px;
  max-width: 225px;

  @media (min-width: $tablet-width) {
    max-width: 600px;
    margin-bottom: 73px;
  }
}

.contacts-owner__list {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: 1220px;
    gap: 40px 85px;
    margin-bottom: 70px;
  }
}

.contacts-owner__item {
  gap: 14px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    gap: 13px;
    margin-bottom: 19px;

    &:last-child {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    min-width: 564px;
  }
}

.contacts-owner__input-wrapper {
  position: relative;
  width: 100%;
}

.contacts-owner__input {
  padding-right: 35px;

  &:focus:invalid + .contacts-owner__input-svg {
    stroke: #68b738;
  }

  &:user-invalid + .contacts-owner__input-svg {
    stroke: #ff8282;
  }
}

.contacts-owner__input-svg {
  position: absolute;
  fill: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  stroke: #000000;
}
