.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: calc(100% - 140px);
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    margin: 0;
    margin-left: 110px;
  }
}

.cooperation__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__street {
  font-family: $secondary-font;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}

.cooperation__city {
  font-family: $secondary-font;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
