.cooperation__title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__street {
  font-family: $secondary-font;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}

.cooperation__city {
  font-family: $secondary-font;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
