.demo-progress {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(180deg, #ffffff 138px, transparent 0), linear-gradient(90deg, #f2f2f2 50%, #eaeaea 100%);
  }
}

.demo-progress__wrapper {
  position: relative;
  height: 256px;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    margin: 0 auto;
    height: 462px;
  }

  @media (min-width: $desktop-width) {
    width: 720px;
    margin: 0;
  }
}

.demo-progress__wrapper-before {
  position: absolute;
  clip-path: inset(0 50% 0 0);
  left: 19px;

  @media (min-width: $tablet-width) {
    bottom: 96px;
    left: 104px;
  }

  @media (min-width: $desktop-width) {
    bottom: -57px;
    left: 50px;
  }
}

.demo-progress__wrapper-after {
  position: absolute;
  clip-path: inset(0 0 0 50%);
  right: 19px;

  @media (min-width: $tablet-width) {
    bottom: 96px;
    right: 104px;
  }

  @media (min-width: $desktop-width) {
    bottom: -57px;
    right: 110px;
  }
}

.demo-progress__range {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background-color: transparent;
  padding: 0;
  z-index: 2;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    border-radius: 2px;
    background: #666666;
    height: 256px;
    z-index: -1;
    pointer-events: none;

    @media (min-width: $tablet-width) {
      left: 50%;
      top: 19px;
      height: 512px;
    }
  }

  &:hover::before {
    background: #68b738;
    transition: 0.4s;
  }

  &:active::before {
    background: #68b738;
    opacity: 0.6;
    transition: 0.4s;
  }

  @media (min-width: $tablet-width) {
    left: 50%;
    top: 107px;
  }

  @media (min-width: $desktop-width) {
    left: 46%;
    top: 260px;
  }
}

.demo-progress__svg {
  fill: #666666;
  transition: 0.3s;

  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.6;
  }
}
