.developer {
  @media (min-width: $tablet-width) {
    min-height: 37px;
  }
}

.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $primary-font-color;
  fill: #666666;
  max-height: 34px;
  transition: 0.4s;
  margin-top: 19px;

  &:hover {
    fill: $icon-color-hover;
  }

  &:active {
    opacity: 0.3;
    fill: $icon-color-hover;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 163px;
    min-height: 37px;
  }
}

.developer__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
