.footer {
  background-color: $secondary-background-color;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 55px 0;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0;
  }
}

.footer__logo-link {
  display: block;
  height: 24px;
  width: 100%;
  text-align: center;
  margin-bottom: 19px;

  &:hover {
    fill: #3e3e3e;
  }

  &:active {
    fill: #6b6b6b;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0;
    min-height: 37px;
    width: 128px;
  }
}

.footer__logo {
  margin: 0 auto;
  max-width: 128px;
  align-self: center;
}
