.form-feedback-input {
  @include form-input;
  font-family: $primary-font;
  padding: 13px 15px 12px;
  border: 1px solid #e7e7e7;
  width: 100%;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: 1px solid #444444;
  }

  &:focus:invalid + .form-feedback__input-svg {
    stroke: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
  }
}

.form-feedback-input--error {
  &:focus {
    border-color: #ff8282;
    outline: 1px solid #ff8282;
  }

  &:focus:invalid + .form-feedback__input-svg {
    stroke: #ff8282;
  }
}

.form-feedback-input--email {
  padding-right: 35px;
}
