.form-feedback {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
  }
}

.form-feedback__wrpapper {
  display: flex;
  flex-direction: column;
  gap:  24px;

  @media (min-width: $tablet-width) {
    gap: 0;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 70px;
  }
}

.form-feedback__fieldset {
  padding: 0;
  border: 0;

  @media (min-width: $tablet-width) {
    max-width: 628px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.form-feedback__list--cat {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.form-feedback__textarea {
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
  margin: 0;
}

.form-feedback__label {
  @include form-label;
  font-family: $primary-font;
  align-self: center;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form-feedback__input-wrapper {
  position: relative;
  width: 100%;
}

.form-feedback__input {
  @include form-input;
  font-family: $primary-font;
  padding: 13px 15px 12px;
  border: 1px solid #e7e7e7;
  width: 100%;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border-color: #444444;
    outline: 1px solid #444444;
  }

  &:focus:invalid+.form-feedback__input-svg {
    stroke: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 11px 20px;
  }
}

.form-feedback__input--error {
  &:focus {
    border-color: #ff8282;
    outline: 1px solid #ff8282;
  }

  &:focus:invalid+.form-feedback__input-svg {
    stroke: #ff8282;
  }
}

.form-feedback__input--email {
  padding-right: 35px;
}

.form-feedback__input-svg {
  position: absolute;
  fill: transparent;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  stroke: #000000;
}

.form-feedback__radio:focus-visible+.form-feedback__label-radio {
  outline: 2px solid #444;
  outline-offset: 6px;
}

.form-feedback__label-radio {
  position: relative;
  display: inline-block;
  @include form-label;
  font-family: $primary-font;
  padding: 6px 0 6px 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  .form-feedback__radio:checked+&::after {
      display: block;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 4px 0 1px 58px;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
    }

    &::after {
      content: "";
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }
}

.form-feedback__checkbox:focus-visible+.form-feedback__label-checkbox {
  outline: 2px solid #444;
  outline-offset: 6px;
}

.form-feedback__checkbox:checked+.form-feedback__label-checkbox::before {
  background-image: url("../../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.form-feedback__label-checkbox {
  @include form-label;
  font-family: $primary-font;
  position: relative;
  display: inline-block;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 6px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  &:active {
    opacity: .3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    min-width: 210px;
    padding-left: 58px;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
    }
  }
}

.form-feedback__submit-wrapper {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 0 60px;
    max-width: 628px;
    margin: 0;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    gap: 0 82px;
    margin-bottom: 80px;
  }
}

.form-feedback__button {
  @include button;
  width: 100%;
  padding: 10px 44px;
  margin-bottom: 21px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    max-width: 284px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 44px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 14px 188px;
  }
}

.form-feedback__notification {
  display: block;
  margin-bottom: 32px;
  font-family: $secondary-font;
  color: $secondary-font-color;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;
    align-self: center;
  }
}
