.lead {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: calc(100% - 140px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
  }
}

.lead__title {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.lead__subtitle {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
