.main-nav {
  color: #000000;
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__item {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__link {
  color: #000000;
}

.main-nav__link.main-nav__link--current {
  cursor: default;
}
