.main-header {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: calc(100% - 60px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 220px);
  }
}

.main-header__link:hover {
  opacity: 0.8;
}

.main-header__link:active {
  opacity: 0.6;
}
