.main-nav {
  color: #000000;
}

.main-nav__item {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__link {
  color: #000000;
}

.main-nav__link.main-nav__link--current {
  cursor: default;
}
