.map {
  background-color: #f2f2f2;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__iframe {
  width: 100%;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
