.product {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 69px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.product__link-title {
  color: #222222;
}

.product__title {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.product__options-cell {
  font-family: $secondary-font;
  color: #444444;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.product__button {
  @include button;
}

.product__show-title {
  color: #111111;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.product__show-subtitle {
  font-family: $secondary-font;
  color: #444444;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.product__show-button {
  @include button(#f2f2f2, #444444);
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
