.program {
  color: $secondary-font-color;
}

.program__wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.program__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.program__item {
  background-color: $secondary-background-color;
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 77px 315px 58px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 59px 52px;
  }
}

.program__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  word-break: break-word;

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 50px;
    height: 50px;
    background: $inverted-background-color;
    border-radius: 50%;
    z-index: 0;

    @media (min-width: $tablet-width) {
      top: 14px;
      left: 393px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: -30px;
      left: 0;
      width: 100px;
      height: 100px;
    }
  }

  &.program__title--cat-slim::before {
    content: "";
    position: absolute;
    background: url("../../images/cat-slim.svg") no-repeat;
    top: -10px;
    left: 6px;
    background-size: 37px;
    width: 38px;
    height: 53px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      background-size: 140px;
      width: 141px;
      height: 195px;
      top: 3px;
      left: 423px;
    }

    @media (min-width: $desktop-width) {
      background-size: 70px;
      top: -36px;
      left: 15px;
      width: 70px;
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 0;
    margin-bottom: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 161px;
  }
}

.program__title--cat-pro::before {
  content: "";
  position: absolute;
  background: url("../../images/cat-pro.svg") no-repeat;
  top: 5px;
  left: -8px;
  background-size: 67px;
  width: 67px;
  height: 53px;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-size: 270px;
    width: 271px;
    height: 130px;
    top: 56px;
    left: 358px;
  }

  @media (min-width: $desktop-width) {
    background-size: 133px;
    top: -9px;
    left: -18px;
    width: 133px;
    height: 60px;
  }
}

.program__description {
  position: relative;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  word-break: break-word;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 52px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.program__link {
  position: relative;
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  background: $secondary-background-color;
  z-index: 1;
  transition: 0.3s;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    right: -28px;
    top: 50%;
    width: 37px;
    height: 12px;
    background: url("../../images/arrow.svg") no-repeat center;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.3s;
  }

  &:hover::after {
    right: -36px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-right: 24px;
    line-height: normal;
  }
}
