.program-feed {
  border: none;
  padding: 0;
  margin: 0;
}

.program-feed__wrapper {
  padding: 22px 0 19px;
  border: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    max-width: 628px;
    margin: 0;
    padding: 23px 0 27px;
    border: 1px solid #d9d9d9;
    margin-bottom: 67px;
    padding-left: 28px;
  }

  @media (min-width: $tablet-width) {
    max-width: 630px;
    margin: 0;
    padding: 25px 0 28px;
    min-width: 570px;
  }
}

.program-feed__list {
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    padding-left: 27px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 587px;
  }
}

.program-feed__item {
  gap: 14px;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
    align-items: center;
    min-height: 38px;
  }
}

.program-feed__radio:focus-visible + .program-feed__label-radio {
  outline: 2px solid #444444;
  outline-offset: 6px;
}

.program-feed__label-radio {
  @include form-label;
  font-family: $primary-font;
  position: relative;
  display: inline-block;
  padding: 6px 0 6px 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }

  .program-feed__radio:checked + &::after {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
    padding: 4px 0 0 58px;

    &::before {
      content: "";
      width: 40px;
      height: 40px;
    }

    &::after {
      content: "";
      width: 18px;
      height: 18px;
      left: 11px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 58px;
    align-self: end;
  }
}
